{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
<br><br><br>
{% if user.is_authenticated %}
<div class="container">
  <h2>Creating committee for {{ info.1 }} with id as {{ info.0  }}</h4>
  
  <form id="add_committee_form" action="{% url 'save_committee' event_id=info.0 %}" method="POST" enctype="multipart/form-data">
    {% for i in info.4 %}
  <h4>Committee {{ i }}</h4>
    {% csrf_token %}
    {{ committeeForm.as_p }}
    {% endfor %}
    <input type="submit">
  </form>
  <br><br>
  
  
</div>

{% else %}
<div class="container">
  <h4>Please <a href="{% url "login" %}">login</a> to continue</h4>
</div>
{% endif %}



{% endblock start %}
</div>
</body>

</html>